{% extends 'base.html.twig' %}

{% block title %}{{ 'about.title'|trans }}{% endblock %}

{% block body_id 'about_index' %}

{% block main %}
    {#MADE BY MACIEJ MORYŃ#}
    <div class="hasMarginTop">
        <div><b>{{ 'about.description'|trans }}</b></div>
        <div><b>{{ 'about.authors'|trans }}</b>{{ 'about.authors_value'|trans }}</div>
        <div><b>{{ 'about.contact'|trans }}</b>{{ 'about.contact_value'|trans }}</div>
    </div>
    {#END MADE BY MACIEJ MORYŃ#}
{% endblock %}
