{% extends 'base.html.twig' %}

{% block body_id 'projects_index' %}

{% block main %}
    {#START MADE BY MACIEJ MORYŃ#}
    {% for project in projects %}
        <div class="hasMarginTop">
            <h3><a href="{{ path('projects_project', {id: project.id}) }}"><b>{{ project.title }}</b></a></h3>
            <div><i class="fa fa-calendar"></i> {{ project.date | format_datetime('long', 'medium', '', 'UTC') }}</div>
            <div><i class="fa fa-user"></i> {{ project.user.username }}</div>
            <div><b>{{ 'project.summary'|trans }}</b> {{ project.summary }}</span></div>
        </div>
    {% endfor %}
    {#END MADE BY MACIEJ MORYŃ#}
{% endblock %}