{% extends 'base.html.twig' %}

{% block title %}{{ 'security.login_label'|trans }}{% endblock %}

{% block main %}
    {#MOSTLY GENERATED, CODE STYLING BY MACIEJ MORYŃ#}
    <div class="hasMarginTop">
        <div class="col100">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1><b>{{ 'security.please_sign_in'|trans }}</b></h1>
                <label for="inputUsername">{{ 'security.username_label'|trans }}</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                <label for="inputPassword">{{ 'security.password_label'|trans }}</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary hasMarginTop" type="submit">{{ 'security.login'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}