{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.admin_label'|trans }}{% endblock %}

{% block main %}
    {#START MADE BY MACIEJ MORYŃ#}
    <div class="hasMarginTop">
        <h1>{{ 'project.project_list'|trans }}</h1>
        <div class="tableRow">
            <div class="col70">
                <div class="tableRow">
                    <div class="tableHeader cell45">{{ 'project.title'|trans }}</div>
                    <div class="tableHeader cell15"><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'project.date'|trans }}</div>
                    <div class="tableHeader cell15"><i class="fa fa-user" aria-hidden="true"></i> {{ 'project.author'|trans }}</div>
                    <div class="tableHeader cell25"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'project.actions'|trans }}:</div>
                </div>
                {% for project in projects %}
                    <div class="tableRow">
                        <div class="tableCell tableTextLeft cell45">{{ project.title }}</div>
                        <div class="tableCell tableTextCenter cell15">{{ project.date|format_datetime('medium', 'short', '', 'UTC') }}</div>
                        <div class="tableCell tableTextCenter cell15">{{ project.user.username }}</div>
                        <div class="tableCell tableTextRight cell25">
                            <a href="{{ path('admin_view_project', {id: project.id}) }}" class="btn btn-sm btn-info">
                                <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.project_view'|trans }}
                            </a>
                            <a href="{{ path('admin_edit_project', {id: project.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.project_edit'|trans }}
                            </a>
                            <a href="{{ path('admin_delete_project', {id: project.id}) }}" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i> {{ 'action.project_delete'|trans }}
                            </a>
                        </div>
                    </div>
                    {% else %}
                        <div class="tableRow tableTextCenter">
                            {{ 'project.no_projects_found'|trans }}
                        </div>
                {% endfor %}
            </div>

            <div class="col30 hasHorizontalPadding">
                <a href="{{ path('admin_new_project')}}" class="btn btn-lg btn-block btn-success">
                    <i class="fa fa-edit" aria-hidden="true"></i>   {{ 'action.project_add'|trans }}
                </a>
            </div>

        </div>
    </div>
    {#END MADE BY MACIEJ MORYŃ#}
{% endblock %}