{% extends 'base.html.twig' %}

{% block title %}Admin Panel - view{% endblock %}

{% block main %}
    <h1>{{ project.title }} </h1>
    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ project.date|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ project.user.username }}</span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>Summary</strong>: {{ project.summary }}</p>
    </div>

    {{ project.description }}
{% endblock %}

{% block sidebar %}

    <div class="section">
        <a href="{{ path('admin_edit_project', {id: project.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> Edit
        </a>
    </div>

    <div class="section">
        <a href="{{ path('admin_delete_project', {id: project.id}) }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i> Delete
        </a>
    </div>

    {{ parent() }}

{% endblock %}