<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}{{ 'index.title'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    {#START MADE BY MACIEJ MORYŃ#}
    <body>
        <nav class="navbar row">
            <div class="headerTitle link">
                <a href="{{ path('index') }}">
                    {{ 'navbar.header_start'|trans }}<span class="navbar-authors">{{ 'navbar.header_end'|trans }}</span>
                </a>
            </div>
            <div class="navButtons">
                <a class="navButton link" href="{{ path('index') }}">
                    <i class="fa fa-home" aria-hidden="true"></i> {{ 'navbar.home'|trans }}
                </a>
                <a class="navButton link" href="{{ path('projects_search') }}">
                    <i class="fa fa-search" aria-hidden="true"></i> {{ 'navbar.search'|trans }}
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="navButton link" href="{{ path('admin_panel') }}">
                        <i class="fa fa-lock-open" aria-hidden="true"></i> {{ 'navbar.admin_panel'|trans }}
                    </a>
                {% endif %}

                <a class="navButton link" href="{{ path('about_index') }}">
                    <i class="fa fa-info" aria-hidden="true"></i> {{ 'navbar.about'|trans }}
                </a>

                {% if app.user %}
                    <a class="navButton link" href="{{ path('app_logout') }}">
                        <i class="fa fa-sign-out-alt" aria-hidden="true"></i> {{ 'dropdown.logout'|trans }}
                    </a>
                {% else %}
                    <a class="navButton link" href="{{ path('app_login') }}">
                        <i class="fa fa-sign-in-alt" aria-hidden="true"></i> {{ 'dropdown.login'|trans }}
                    </a>
                {% endif %}
            </div>
        </nav>

        <div class="main">
            {% block body %}
                {% block main %}{% endblock %}
            {% endblock %}
        </div>

        {% block footer %}
            <div class="footer row">
                © {{ 'now'|date('Y') }}{{ 'footer.names'|trans }}
            </div>
        {% endblock %}
    </body>
    {#END MADE BY MACIEJ MORYŃ#}
</html>